*{
box-sizing:border-box;
}

body{
margin:0;
font-family:system-ui;
background:#0f172a;
color:white;
}

.app{
display:flex;
height:100vh;
}

/* sidebar */

.sidebar{
width:240px;
background:#020617;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.logo{
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}

.sidebar button,
.uploadBtn{
background:#22c55e;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}

.uploadBtn input{
display:none;
}

.stats{
margin-top:auto;
font-size:13px;
opacity:.8;
}

/* main */

main{
flex:1;
display:flex;
flex-direction:column;
}

header{
background:#020617;
padding:10px;
display:flex;
gap:10px;
}

header input{
flex:1;
padding:10px;
border-radius:8px;
border:none;
background:#1e293b;
color:white;
}

header button{
padding:10px 16px;
background:#22c55e;
border:none;
border-radius:8px;
}

#dropZone{
margin:10px;
padding:20px;
border:2px dashed #334155;
border-radius:10px;
text-align:center;
}

.torrent{
background:#020617;
margin:10px;
padding:15px;
border-radius:10px;
}

.top{
display:flex;
justify-content:space-between;
}

.progressWrap{
background:#1e293b;
height:8px;
border-radius:10px;
overflow:hidden;
margin-top:6px;
}

.bar{
height:100%;
background:#22c55e;
width:0%;
}

.files{
margin-top:10px;
display:flex;
flex-wrap:wrap;
gap:6px;
}

.fileBtn{
background:#334155;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
font-size:12px;
}

.controls{
margin-top:10px;
display:flex;
gap:6px;
}

.small{
background:#334155;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
font-size:12px;
}

.health-good{color:#22c55e}
.health-ok{color:#facc15}
.health-bad{color:#ef4444}
